body {
	background-color: #000033;
	color: #003300;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("img/primediagonal.png");
}

header {
	color: #48751A;
	background-image: url('img/primelogo.gif');
	background-repeat: no-repeat;
	height: 100px;
}

h1 {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

h2 {
	color: #003366;
}

h3 {
	color: #006600;
	padding-top: 10px;
}

nav {
	font-weight: bold;
	font-size: 1.2em;
}

dd {
	font-style: italic;
	font-size: .90em;
	line-height: 200%;
}

.contact {
	font-weight: bold;
	font-size: .90em;
	font-family: "Times New Roman", serif;
}

footer {
	font-size: .60em;
	font-style: italic;
}

#wrapper {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFCC;
	min-width: 700px;
	max-width: 960px;
	padding: 0 0 20px 30px;
	border: 1px #00332B ridge;
	border-radius: 10px;
	box-shadow: inset -3px -3px 3px 3px #00332B;
}

img {
	border: none;
}
nav {
	float: left;
	width: 150px;
}
